[submodule "gricci"]
	path = gricci
	url = https://github.com/matsengrp/gricci.git
[submodule "tangle"]
	path = tangle
	url = https://github.com/matsengrp/tangle.git
[submodule "spr_neighbors"]
	path = spr_neighbors
	url = https://github.com/cwhidden/spr_neighbors
